.title {
  background-color: #1a0933;
  color: #32fbe2;
}
.summary {
  background-color: #1a0933;
  color: #32fbe2;
}
.file {
  background-color: #1a0933;
  color: #32fbe2;
}
.form {
  padding: 12rem;
}
@media screen and (max-width: 700px) {
  .form {
    padding: 0rem;
  }
}
